<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="996c7b">  <td>17/12/20 11:57:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ViewHotelDetailsByHotelNameTest.tearDown()[pri:0, instance:net.phptravels.TopNavigationBar.ViewHotelDetailsByHotelNameTest@7e242b4d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@61137731</td>   <td></td> </tr>
<tr bgcolor="996c7b">  <td>17/12/20 11:56:44</td>   <td>-27293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewHotelDetailsByHotelNameTest.viewHotelDetailsByHotelName()[pri:0, instance:net.phptravels.TopNavigationBar.ViewHotelDetailsByHotelNameTest@7e242b4d]">viewHotelDetailsByHotelName</td> 
  <td>main@61137731</td>   <td></td> </tr>
</table>
